:root {
    --blue-bg: #0B1A30;
    --blue-dark: #1D3557;
    --blue-medium: #457B9D;
    --blue-light: #A8DADC;
    --cream: #F1FAEE;
    --red: #E63946;
    --white: #FAFAFA;
    --black: #0F0F0F;
}

* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    box-sizing: border-box;
    scroll-behavior: smooth;   
}

*::selection {
    background-color: var(--blue-dark);
    color: var(--cream);
}


body {
    
}

/* NAV */

nav {
    width: 165px;
    height: 100vh;
    position: fixed;
    background-color: var(--blue-dark);
    color: var(--cream);
    font-family: 'Bellefair';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .personal-info {
    background-color: #162843;
    padding: 40px 0;
}

nav .personal-info .name-nav {
    font-family: 'Bellefair';
    font-size: 18px;
    color: var(--cream);
    margin: auto;
    text-align: center;
    margin: 15px 0 15px 0;
}

nav .personal-info .logo {
    text-align: center;
}

nav .personal-info .professions {
    font-family: 'Open Sans';
    color: #A8A8A8;
    font-size: 12px;
    text-align: center;
}

nav .links {
    font-size: 24px;
}

nav .links li {
    text-align: center;
    overflow: hidden;
    border-top: 1px solid var(--cream);
    
}
nav .links li:last-child {
    border-bottom: 1px solid var(--cream);
}

nav .links li a {
    text-decoration: none;
    color: var(--cream);
    display: block;
    padding: 10px 0;
}

nav .links li a:hover {
    background-color: #162843;
    letter-spacing: 4px;
    transition: 0.5s;

}

nav .links li a {
    text-decoration: none;
    color: var(--cream);
    display: block;
    padding: 10px 0;
}

nav .social-media {
    margin: 0 auto;
    margin-bottom: 25px;
}

nav .social-media li {
    display: inline-block;
}

/* HEADER HEADER */

header {
    background-color: #0B1A30;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    
}
header .container-texts-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    width: 1000px;
    padding: 150px 0 0 300px;
    gap: 20px;
}

header .container-texts-header p:nth-child(1){
    color: var(--blue-medium);
    font-family: 'Open Sans';
}
header .container-texts-header .titulo1,
header .container-texts-header .titulo2 {
    color: var(--white);
    font-family: 'Bellefair';
    font-size: 65px;
    font-weight: normal;
    height: 80px;
}
header .container-texts-header .about-me-header {
    font-family: 'Open Sans';
    color: var(--blue-medium);
}

header .container-texts-header button {
    width: 180px;
    height: 60px;
    font-family: 'Bellefair';
    background-color: var(--blue-light);
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

header .container-texts-header button:hover {
    background-color: #b7f1f2;
    border: 1px solid #81fdff
}

header .container-texts-header button::before {
    width: 20px;
    height: 90px;
    top: -15px;
    left: -40px;
    position: absolute;
    display: block;
    content: "";
    transition: 0.5s;
    transform: rotate(35deg);
    background-color: rgba(255, 255, 255, 0.426);
}

header .container-texts-header button:hover::before {
    left: 200px;
    transition: 0.5s;
}

header .container-texts-header .separator {
    width: 200px;
    height: 1px;
    background-color: var(--blue-light);
}

header .container-texts-header .tel a,
header .container-texts-header .email a,
header .container-texts-header .tel,
header .container-texts-header .email {
    color: var(--blue-medium);
    font-family: 'Bellefair';
}
header .illustration-alejandro {
    margin: auto;
}

header .illustration-alejandro img{
    width: 800px;
}

/* PROJECTS */

.projects {
    background-color: var(--cream);
    height: 100vh;
    width: 100%;
    padding: 0 0 0 165px;
    cursor: pointer;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.projects .webs {
    background-position: 255px -505px;
}

.projects .webs .trans-box {
    padding: 25px;
}

.projects .cursor {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    background-color: #000;
}

.projects .webs {
    border-bottom: 1px solid #000;
}

.project-container {
    overflow: hidden;
}

.projects h2 {
    font-family: 'Bellefair';
    font-size: 184px;
    font-weight: normal;
    position: relative;
    overflow: hidden;
    z-index: 2;
    color: #000;
    padding: 150px 700px;
    display: inline-block !important;
}

.typed-cursor {
    font-family: 'Bellefair';
    color: #fff;
    font-size: 64px;
    font-weight: normal;
    display: inline-block !important;
}

.text-animation-container {
    display: flex;
}

.projects h2:hover {
    letter-spacing: 22px;
    color: transparent;
    background-color: var(--blue-bg);
    -webkit-text-stroke: 1px var(--cream);
}


.projects .project-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    background-color: var(--blue-bg);
    color: var(--cream);
    font-family: 'Bellefair';
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    position: relative;
    z-index: -1;
    overflow: hidden;
    padding: 0 0 0 165px;
}

.about-me h2 {
    font-size: 110px;
    font-weight: normal;
}

.about-me p {
    width: 700px;
    text-align: center;
    font-size: 20px;
}

.circles-about-me {
    position: absolute;
    width: 4000px;
}

/* SKILLS */

.skills {
    background-color: var(--cream);
    color: var(--black);
    font-family: 'Bellefair';
    height: 100vh;
    width: 100%;
    padding: 0 0 0 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h2 {
    font-size: 110px;
    font-weight: normal;
    text-align: center;
}

.skills hr {
    width: 600px;
    margin-bottom: 60px;
}

.skills .container-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    gap: 20px 100px;
    font-size: 24px;
}

.skill img, .skill p {
    display: inline-block;
    vertical-align: middle;
}

/* BLOG */

.blog {
    background-color: var(--blue-bg);
    color: var(--cream);
    font-family: 'Bellefair';
    height: 100vh;
    width: 100%;
    padding: 0 0 0 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog h2 {
    font-weight: normal;
    font-size: 110px;
}

.blog button {
    width: 180px;
    height: 60px;
    font-family: 'Bellefair';
    font-size: 24px;
    background-color: var(--blue-light);
    border: 0px solid #81fdff;
    outline: none;
}

.blog button:hover {
    background-color: #b7f1f2;
    border: 1px solid #81fdff;
    cursor: pointer;
    transition: 0.5s;
}


/* ANIMATION */

.loading-screen {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--cream);
    overflow: hidden;
}

.loader {
    width: 150px;
    height: 150px;
    background-color: var(--blue-light);
    border-radius: 50%;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
      0 5px 12px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    overflow: hidden;
  }
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45%;
    top: -40%;
    background-color: #fff;
    animation: wave 5s linear infinite;
  }
.loader:before {
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.4);
    animation: wave 5s linear infinite;
  }
@keyframes wave {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }