:root {
    --blue-bg: #0B1A30;
    --blue-dark: #1D3557;
    --blue-medium: #457B9D;
    --blue-light: #A8DADC;
    --cream: #F1FAEE;
    --red: #E63946;
    --white: #FAFAFA;
    --black: #0F0F0F;
    --gray: #616161;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;   
}

*::selection {
    background-color: var(--red);
    color: var(--cream);
}