@import url('./main.css');
@import url('./navbar.css');

body {
    background-color: var(--cream);
}

header {
    height: 35vh;
    width: 100%;
    padding: 0 0 0 165px;
    font-family: 'Bellefair';
    display: flex;
}


header h2 {
    font-weight: normal;
    font-size: 110px;
    text-align: center;
    margin: auto
}

header h2 span {
    color: var(--blue-dark);
    text-decoration: underline;
}

.container-projects {
    width: 100%;
    max-width: 100%;
    padding: 50px 0 50px 165px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-bg);
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    padding: 0 20px;
}

.grid a {
    text-decoration: none;
}

.grid-item {
    width: 450px;
    height: 600px;
    overflow: hidden;
    font-family: 'Open Sans';
    color: var(--black);
    text-decoration: none;
    border: 1px solid #000;
    background-color: var(--cream);
}

.grid-item:hover::before{
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.grid-item .img-container {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.grid-item .container-content {
    margin: 25px;
    height: 100%;
    height: 100%;
}

.grid-item img {
    width: 100%;
    height: 200%;
}

.grid-item .project-info {
}

.grid-item h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.grid-item .buttons {
    margin-top: 50px;
    display: flex;
    gap: 15px;
}

.grid-item .buttons button {
    width: 140px;
    height: 50px;
    font-family: 'Open Sans';
    font-size: 18px;
    cursor: pointer;
    border: 0px;
    color: #fff;
    background-color: var(--blue-bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.grid-item .buttons button:hover {
    background-color: var(--blue-dark);
}